<!DOCTYPE html>
<html>
<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, height=692, initial-scale=1.0, user-scalable=no">
<title>IDEX | コンテンツメニュー</title>
<link rel="stylesheet" media="screen" href="/surv/public/stylesheets/idex.css">
</head>
<body>
<section>
  <header>
      <div id="header_title">
        <div id="cont_menu_hdr">
          <img src="/surv/public/images/rogo.jpg" style="float: left;">
          <div id="cont_ttl">車検・整備・鈑金等の修理から宅配サービス・コンビニ事業まで<br>新しいＳＳのあり方を考え、挑戦しています。</div>
        </div>
      </div><div class="clear"></div>
    <h1>カーライフサポートサービスのご紹介</h1>
    <div style="width: 1024px; height: 6px; background:#013158;"></div>
  </header>
<nav>
<div id="blank"> </div> 
<div id="main">
<ul>
<li><a href="@action(controllers.Idex.shaken)"><div id="menu_col">イデックス車検</div></a></li>
<li><a href=""><div id="menu_col">IDEX CLUBカード</div></a></li>
<li><a href=""><div id="menu_col">洗　　車</div></a></li>
<li><a href=""><div id="menu_col">オイル交換</div></a></li>
<li><a href=""><div id="menu_col">タイヤ交換</div></a></li>
<li><a href=""><div id="menu_col">点　　検</div></a></li>
</ul>
</div>
</nav>
<footer>
</footer>
</section>
</body>
</html>