<!DOCTYPE html>
<html manifest="/surv/public/idex.appcache">
<head>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, height=748, initial-scale=1.0, user-scalable=no">
<title>IDEX</title>
<link rel="apple-touch-icon" href="/surv/public/images/idexicon.png">
<link rel="stylesheet" media="screen" href="/surv/public/stylesheets/idex.css">
<script type="text/javascript" src="/surv/public/javascripts/jquery-1.7.1.min.js"></script>
<style type="text/css">
#shaken, #flow, #price {
    overflow: hidden;
}
#shaken ul {
        list-style: none;
        width:4800px;
        margin: 0;
        padding: 0;
        position: relative;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0,0,0.25,1);
      }
#flow ul, #price ul {
  list-style: none;
  width:958px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0,0,0.25,1);
}
      #shaken ul li {
  display: block;
        width: 960px;
        margin: 0;
        padding: 0;
  position: relative;
  z-index: 1;
  float: left;
  -webkit-transform: translateZ(0);
      }
#flow ul li, #price ul li {
  display: block;
  width: 958px;
  height: 568px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  float: left;
  -webkit-transform: translateZ(0);
}
.cont1 {
   -webkit-transform: translate3d(0px, 0px, 0px);
}
.cont2 {
   -webkit-transform: translate3d(-960px, 0px, 0px);
}
.cont3 {
   -webkit-transform: translate3d(-1920px, 0px, 0px);
}
.cont4 {
   -webkit-transform: translate3d(-2880px, 0px, 0px);
}
.cont5 {
   -webkit-transform: translate3d(-3840px, 0px, 0px);
}
.contz {
  z-index: 1001;
}
.height0{
  height: 0;
}
.wait {
  position: absolute; top: 0; left: 0; z-index: 100; width: 824px; height: 548px; margin: 0 auto; padding: 100px;
  color: #333; background: #ddd; font-size: 1.6em;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
.vcont1 {
   -webkit-transform: translate3d(0px, 0px, 0px);
}
.vcont2 {
   -webkit-transform: translate3d(0px, -568px, 0px);
}
.vcont3 {
   -webkit-transform: translate3d(0px, -1136px, 0px);
}
.vcont4 {
   -webkit-transform: translate3d(0px, -1704px, 0px);
}
</style>
<script>
$(function() {
//  $('#shaken').flickable({section:'li'});
var page = 1;
var fpage = 1;
var ppage = 1;
/* ページめくり
  $("#prev").click(function() {
    if (page>1) {
      $("#shaken ul").addClass("contz");
      $("#shaken ul").removeClass("cont"+page);
      $("#shaken ul").addClass("cont"+(page-1));
      $("#shaken ul").removeClass("contz");
      page--;
    }
  });
  $("#next").click(function() {
    if(page<5) { 
      $("#shaken ul").addClass("contz");
      $("#shaken ul").removeClass("cont"+page);
      $("#shaken ul").addClass("cont"+(page+1));
      $("#shaken ul").removeClass("contz");
      page++;
    }
  });
*/

  var shk = $("#shaken")[0];
  shk.addEventListener("touchstart", touchHandler, false);

  shk.addEventListener("touchmove", touchHandler, false);

  shk.addEventListener("touchend", touchHandler, false);
  
function touchHandler(e) {
    e.preventDefault();
    var touch = e.touches[0];
    if (e.type == "touchstart") {
        startX = touch.pageX;
    } else if (e.type == "touchmove") {
        diffX = touch.pageX - startX;
    } else if (e.type == "touchend") {
        if (diffX > 100) {
    if (page>1) {
      $("#shaken ul").addClass("contz");
      $("#shaken ul").removeClass("cont"+page);
      $("#shaken ul").addClass("cont"+(page-1));
      $("#shaken ul").removeClass("contz");
      page--;
    }
  } else if (diffX < -100) {
    if(page<5) { 
      $("#shaken ul").addClass("contz");
      $("#shaken ul").removeClass("cont"+page);
      $("#shaken ul").addClass("cont"+(page+1));
      $("#shaken ul").removeClass("contz");
      page++;
    }
        }
    }
}

  var flw = $("#flow")[0];
  flw.addEventListener("touchstart", ftouchHandler, false);

  flw.addEventListener("touchmove", ftouchHandler, false);

  flw.addEventListener("touchend", ftouchHandler, false);
  
function ftouchHandler(e) {
    e.preventDefault();
    var touch = e.touches[0];
    if (e.type == "touchstart") {
        startY = touch.pageY;
    } else if (e.type == "touchmove") {
        diffY = touch.pageY - startY;
    } else if (e.type == "touchend") {
        if (diffY > 60) {
    if (fpage>1) {
      $("#flow ul").addClass("contz");
      $("#flow ul").removeClass("vcont"+fpage);
      $("#flow ul").addClass("vcont"+(fpage-1));
      $("#flow ul").removeClass("contz");
      fpage--;
    }
  } else if (diffY < -60) {
    if(fpage<4) { 
      $("#flow ul").addClass("contz");
      $("#flow ul").removeClass("vcont"+fpage);
      $("#flow ul").addClass("vcont"+(fpage+1));
      $("#flow ul").removeClass("contz");
      fpage++;
    }
        }
    }
  }

  /* IDEX車検メニュー */
  $("#menu1").click(function(){
    $("#idex_menu").addClass("hidden");
    $("#idex_menu").addClass("height0");
    $("#idex_shaken").removeClass("hidden");
  });
  
  /* イデックス車検の特徴 */
  $("#tab2").click(function(){
    $("#navi3").removeClass("navi_select");
    $("#navi4").removeClass("navi_select");
    $("#navi2").addClass("navi_select");
    $("#price").addClass("hidden");
    $("#price").addClass("height0");
    $("#flow").addClass("hidden");
    $("#flow").addClass("height0");
    $("#shaken").removeClass("height0");
    $("#shaken").removeClass("hidden");
  });

  /* イデックス車検お申し込み手順 */
  $("#tab3").click(function(){
    $("#navi2").removeClass("navi_select");
    $("#navi4").removeClass("navi_select");
    $("#navi3").addClass("navi_select");
    $("#shaken").addClass("hidden");
    $("#shaken").addClass("height0");
    $("#price").addClass("hidden");
    $("#price").addClass("height0");
    $("#flow").removeClass("height0");
    $("#flow").removeClass("hidden");
  });

  /* イデックス車検の特典＆料金表 */
  $("#tab4").click(function(){
    $("#navi2").removeClass("navi_select");
    $("#navi3").removeClass("navi_select");
    $("#navi4").addClass("navi_select");
    $("#shaken").addClass("hidden");
    $("#shaken").addClass("height0");
    $("#flow").addClass("hidden");
    $("#flow").addClass("height0");
    $("#price").removeClass("height0");
    $("#price").removeClass("hidden");
  });

  /* コンテンツメニューへ戻る */
  $("#gtmenu").click(function(){
    $("#idex_shaken").addClass("hidden");
    $("#idex_menu").removeClass("height0");
    $("#idex_menu").removeClass("hidden");
    $("#navi3").removeClass("navi_select");
    $("#navi4").removeClass("navi_select");
    $("#navi2").addClass("navi_select");
    $("#price").addClass("hidden");
    $("#price").addClass("height0");
    $("#flow").addClass("hidden");
    $("#flow").addClass("height0");
    $("#shaken").removeClass("height0");
    $("#shaken").removeClass("hidden");
  });

  $(window).load(function() {
    $("#wait").addClass("hidden");
  });
});
</script>
</head>
<body>
  <p id="wait" class="wait">Now Loading...<br>Please wait a minute.</p>
  <section id="idex_main" style="overflow: hidden;">
<section id="idex_menu">
  <header>
      <div id="header_title">
        <div id="cont_menu_hdr">
          <img src="/surv/public/images/rogo.jpg" style="float: left;">
          <div id="cont_ttl">車検・整備・鈑金等の修理から宅配サービス・コンビニ事業まで<br>新しいＳＳのあり方を考え、挑戦しています。</div>
        </div>
      </div><div class="clear"></div>
    <h1>カーライフサポートサービスのご紹介</h1>
    <div style="width: 1024px; height: 6px; background:#013158;"></div>
  </header>
<nav>
<div id="blank"> </div> 
<div id="main">
<ul>
  <li><a id="menu1" onClick="return false;"><div id="menu_col">イデックス車検</div></a></li>
<li><a href=""><div id="menu_col">IDEX CLUBカード</div></a></li>
<li><a href=""><div id="menu_col">洗　　車</div></a></li>
<li><a href=""><div id="menu_col">オイル交換</div></a></li>
<li><a href=""><div id="menu_col">タイヤ交換</div></a></li>
<li><a href=""><div id="menu_col">点　　検</div></a></li>
</ul>
</div>
</nav>
<footer>
</footer>
</section>
<section id="idex_shaken" class="hidden">
  <header>
    <!-- span style="width:300;height: 3em; font-size:1.4em;font-weight: bold;
   -webkit-text-stroke: 1px #c00;
   color: red;
   text-shadow:
       2px 2px 2px #ccc,
     -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #ccc;">IDEX</span -->
      <div id="header_title">
        <div id="hdr_imgs">
          <img src="/surv/public/images/rogo.jpg">
          <img src="/surv/public/images/top_catch.jpg">
        </div><!-- #hdr_imgs -->
      </div><!-- #header_title -->
      <nav id="header_menu">
        <ul>
          <li><a id="tab2" onClick="return false;"><div id="navi2" class="navi_select">イデックス車検の特徴</div></li>
          <li><a id="tab3" onClick="return false;"><div id="navi3">イデックス車検お申し込み手順</div></a></li>
          <li><a id="tab4" onClick="return false;"><div id="navi4">イデックス車検の特典＆料金表</div></a></li>
          <li><a href="https://fukuoka.idexshaken.com/estimate.php"><div id="navi6">お見積もり</div></a></li>
          <li><a href="https://fukuoka.idexshaken.com/reserve.php"><div id="navi7">ご予約</div></a></li>
        </ul>
      </nav><!-- #header_menu -->
  </header>
  <article id="shaken">
    <ul>
      <li>
        <img src="/surv/public/images/sub_feature.jpg">
        <img src="/surv/public/images/feature_top_img.jpg">
      </li>
      <li>
        <img src="/surv/public/images/feature_title01.jpg">
        <div class="feature_detail">
          <p></p>
          <p>　一般的な車検サービスは「陸運局」に車を持っていき、車検を依頼するケースが多いのですが、</p>
          <p class="boldred">当社は国土交通省の認可を受けた自社車検工場で車検を行います。</p>
          <p>車検の最終テストをできるこれらの工場を<span class="boldred">「指定工場」</span> と言います。
            この指定工場は<span class="boldred">国から車検の「委託」を受けた工場</span>です。</p>
          <p>この「指定工場」の認可を受けるには技術力だけでなく、機械設備、車検の実績が必要です。</p>
          <p><span class="boldred">イデックス車検は年間３０，０００台の車検を実施</span>していること、
            また、実際に検査にあたる<span class="boldred">「検査員」等の技術者を多数抱えている</span>ことなど、
            厳しい基準を全てクリアしています。</p>
        </div>
        <div class="feature_img">
        <img src="/surv/public/images/feature_ph02.jpg">
        <img src="/surv/public/images/feature_ph03.jpg">
        </div>
      </li>
      <li>
        <img src="/surv/public/images/feature_title02.jpg">
        <div class="feature_detail">
          <p><b>（１）無駄な整備をしないから安い！</b></p>
          <p>車検費用が高くなってしまう原因としては【余分な整備】【整備・部品料金の高さ】が挙げられます。
もちろん、「安いだけの車検」は整備がないため、 
安全に乗っていただくことを考えるとお勧めできません。
お客様のご予算に応じて整備項目をきちんと提案することが大切であると私たちは考えています。</p>
          <p><b>（２）お客様のご協力次第で安くなる割引制度！</b></p>
          <p>
料金表を見ていただいてお分かりになると思いますが、 
当社の車検は「超格安！」をうたい文句にする車検ではありません。
それは“お客様が安心して車に乗り続けられるような確実な整備”をモットーとしているからです。
<p>
例えば・・・
□ネットで予約をする 
□車検工場へ直接お車をお持ち込み、引き取っていただく 
□代車を使わない 
□早めに予約する
以上の手間をかけることで7000円も料金が下がるのです。</p>
        </div>
        <div class="feature_img">
        <img src="/surv/public/images/feature_ph04.jpg">
        <img src="/surv/public/images/feature_ph08.jpg">
        </div>
      </li>
      <li>
        <img src="/surv/public/images/feature_title03.jpg">
        <div class="feature_detail">
          <p>『最初に聞いた金額より車検代が高くなった』こんな経験をされたことはありませんか？これには主に２つの原因があります。</p>
          <p>（１）チラシには車検9,800円！と書いてあるのに、そのほかに代行料や点検料など様々な名目の費用をとられてしまった。</p>
          <p>（２）基本料金だけ教えられて車検に出したら工場から電話がかかってきて「○○を交換しなければ車検に合格しない」と言われた。</p>
          <p>こういうことが行われていたのでは『車検料金が不透明』で、一体いくら用意しなければならないのか不安になりますよね。目の前にない車のあの部品が悪いと言われても確かめる術がありません。</p>
          <p>そこで私たちは・・・<br>
            <span class="boldred">『車検実施前に確定した金額を提示する』</span><br>
            <span class="boldred">『整備箇所はお客様と一緒に確認する』</span><br>
            ことを徹底しています。</p>
        </div>
        <div class="feature_img">
        <img src="/surv/public/images/feature_ph09.jpg">
        <img src="/surv/public/images/feature_ph10.jpg">
        </div>
      </li>
      <li>
        <img src="/surv/public/images/feature_title04.jpg">
        <div class="feature_detail">
          <p>イデックスは福岡、北九州、佐賀、久留米に合計４０ヶ所以上のガソリンスタンドのネットワークがあります。</p>
          <p>お客様はいつも利用していただいているガソリンスタンドまでお車をお持ちいただければ、１日で車検を完了させてお車をお渡ししています。そのため下記のようなお客様も多数いらっしゃいます。</p>
          <p><img src="/surv/public/images/feature_case.gif"></p>
          <p>これならお客様が実際に【車検が終わるのを待っている】無駄な時間がありませんので、とても便利ですよね。</p>
          <p>福岡、北九州、佐賀、久留米エリアに指定工場を４ヶ所保有するイデックスでは、平日はもちろん、<span class="boldred">土日も１日車検が可能</span>です。</p>
        </div>
        <div class="feature_img">
          <img src="/surv/public/images/feature_ph12.jpg">
        </div>
      </li>
    </ul>
    </article><!-- #shaken -->
  <article id="flow" class="hidden height0">
  <ul>
    <li>
<img src="/surv/public/images/sub_flow.jpg" alt="イデックス車検お申込み手順" width="896" height="36" class="spt20" />
<!--FLOW_COLUMN-BEGIN-->
<div class="flow_column">
<div class="flow_left"><img src="/surv/public/images/s_flow_step1.jpg" alt="STEP1" width="245" height="160" /></div>
<div class="flow_right">
<h3><img src="/surv/public/images/flow_title01.jpg" alt="いつでもご予約OK" width="619" height="28" /></h3>
<div class="spt8"><img src="/surv/public/images/flow01_net.gif" alt="インターネットから予約" width="165" height="22" /></div>
<p>イデックス車検ホームページのネット予約、もしくはお見積りフォームに必要事項をご記入のうえ、送信して下さい。 <br />
  折り返し、車検担当者からメールまたはお電話でご連絡させていただきます。 </p>
<div class="spt16"><img src="/surv/public/images/flow01_tel.gif" alt="電話の場合" width="89" height="22" /></div>
<p><a href="https://fukuoka.idexshaken.com/shop.html">イデックス車検受付店一覧</a>からご利用店舗宛にご連絡下さい。</p>
</div>
<div class="clear"></div>
<div class="spt20"><img src="/surv/public/images/flow_arrow.jpg" alt="" width="152" height="45" /></div>
</div>
<!--FLOW_COLUMN-END-->
</li>
<li>
<!--FLOW_COLUMN-BEGIN-->
<div class="flow_column">
<div class="flow_left"><img src="/surv/public/images/s_flow_step2.jpg" alt="STEP2" width="245" height="160" /></div>
<div class="flow_right">
<h3><img src="/surv/public/images/flow_title02.jpg" alt="事前点検（車検実施の当日～1ヶ月前）" width="619" height="28" /></h3>
  <p>車検に合格するために必要な点検作業をお客様の立会いのもと実施いたします。不具合箇所につきましてはご一緒に確認しながら丁寧にご説明いたします。<br />
    (所要時間は30分ほど) </p>
  </div>
<div class="clear"></div>
<div class="spt20"><img src="/surv/public/images/flow_arrow.jpg" alt="" width="152" height="45" /></div>
</div>
<!--FLOW_COLUMN-END-->
<!--FLOW_COLUMN-BEGIN-->
<div class="flow_column">
<div class="flow_left"><img src="/surv/public/images/s_flow_step3.jpg" alt="STEP3" width="245" height="160" /></div>
<div class="flow_right">
<h3><img src="/surv/public/images/flow_title03.jpg" alt="お見積り提示（車検実施の当日～1ヶ月前）" width="619" height="28" /></h3>
  <p>事前点検の結果を踏まえて、お客様の乗り方に合った見積もり額をご提示します。ご予算によってできる限り整備内容などを考慮しますので、お気軽にご相談下さい。 <br />
    もちろんこの時点でキャンセルも可能です。 </p>
  </div>
<div class="clear"></div>
<div class="spt20"><img src="/surv/public/images/flow_arrow.jpg" alt="" width="152" height="45" /></div>
</div>
<!--FLOW_COLUMN-END-->
</li>
<li>
<!--FLOW_COLUMN-BEGIN-->
<div class="flow_column">
<div class="flow_left"><img src="/surv/public/images/s_flow_step4.jpg" alt="STEP4" width="245" height="160" /></div>
<div class="flow_right">
<h3><img src="/surv/public/images/flow_title04.jpg" alt="車検実施（車検当日）" width="619" height="28" /></h3>
  <p>車検当日（または前日）にお客様のお車をお預かりいたします。 <br />
    代車もご用意しておりますので、お気軽にお申し付け下さい。 <br />
    （代車は事前予約制です） <br />
    ※車検は車検満了日の30日前から受けられます。 </p>
  </div>
<div class="clear"></div>
<div class="spt20"><img src="/surv/public/images/flow_arrow.jpg" alt="" width="152" height="45" /></div>
</div>
<!--FLOW_COLUMN-END-->
<!--FLOW_COLUMN-BEGIN-->
<div class="flow_column">
<div class="flow_left"><img src="/surv/public/images/s_flow_step5.jpg" alt="STEP5" width="245" height="160" /></div>
<div class="flow_right">
<h3><img src="/surv/public/images/flow_title05.jpg" alt="車両検査・整備" width="619" height="28" /></h3>
  <p>当社の整備工場にて、国家資格整備士が法定24ヶ月点検、および車検見積り時にご提示した必要な整備を行います。 </p>
</div>
<div class="clear"></div>
<div class="spt20"><img src="/surv/public/images/flow_arrow.jpg" alt="" width="152" height="45" /></div>
</div>
<!--FLOW_COLUMN-END-->
</li>
<li>
<!--FLOW_COLUMN-BEGIN-->
<div class="flow_column">
<div class="flow_left"><img src="/surv/public/images/s_flow_step6.jpg" alt="STEP6" width="245" height="160" /></div>
<div class="flow_right">
<h3><img src="/surv/public/images/flow_title06.jpg" alt="ご精算・引き渡し" width="619" height="28" /></h3>
  <p>車検実施当日にお引き渡しいたします。 <br />
    何か気になる点がございましたら何なりとお申し付け下さい。 <br />
    なお、お支払いにつきましては、現金、クレジットどちらでも可能です。 </p>
  </div>
</div>
<!--FLOW_COLUMN-END-->
</li>
</ul>
    </article><!-- #flow -->
  <article id="price" class="hidden height0">
    <ul>
      <li>
        <img src="/surv/public/images/sub_price.jpg">
        <img src="/surv/public/images/price_top_img01.jpg" style="height: 472px;">
      </li>
      <li>
        <table class="price_data">
  <tr>
    <th colspan="2"></th>
    <th>軽自動車</th>
    <th>小型乗用車<br />
    <span class="text1">～1,000kg</span></th>
    <th>中型乗用車<br />
    <span class="text1">1,001～1,500kg</span></th>
    <th>大型乗用車<br />
    <span class="text1">1,501～2,000kg</span></th>
    <th>特大乗用車<br />
    <span class="text1">2,001～2,500kg</span></th>
    <th><span class="text1">小型貨物（4ナンバー</span>）<br />
    <span class="text1">総重量2,000kg以下</span></th>
  </tr>
  <tr>
    <td colspan="2" align="center">車検基本工賃</td>
    <td class="price">&yen;16,800</td>
    <td class="price">&yen;16,800</td>
    <td class="price">&yen;16,800</td>
    <td class="price">&yen;16,800</td>
    <td class="price">&yen;16,800</td>
    <td class="price">&yen;16,800</td>
  </tr>
   <tr>
    <td colspan="2" align="center">継続検査料</td>
    <td class="price">&yen;6,300</td>
    <td class="price">&yen;6,300</td>
    <td class="price">&yen;6,300</td>
    <td class="price">&yen;6,300</td>
    <td class="price">&yen;6,300</td>
    <td class="price">&yen;6,300</td>
  </tr>
  <tr>
    <td rowspan="3" align="center">法定費用</td>
    <td align="center">自賠責保険</td>
    <td class="price">&yen;21,970</td>
    <td class="price">&yen;24,950</td>
    <td class="price">&yen;24,950</td>
    <td class="price">&yen;24,950</td>
    <td class="price">&yen;24,950</td>
    <td class="price">&yen;14,190</td>
  </tr>
  <tr>
    <td align="center">重量税</td>
    <td class="price">&yen;7,600</td>
    <td class="price">&yen;20,000</td>
    <td class="price">&yen;30,000</td>
    <td class="price">&yen;40,000</td>
    <td class="price">&yen;50,000</td>
    <td class="price">&yen;7,600</td>
  </tr>
  <tr>
    <td align="center">印紙代</td>
    <td class="price">&yen;1,100</td>
    <td class="price">&yen;1,100</td>
    <td class="price">&yen;1,100</td>
    <td class="price">&yen;1,100</td>
    <td class="price">&yen;1,100</td>
    <td class="price">&yen;1,100</td>
  </tr>
  <tr>
    <td colspan="2" align="center">車検総額</td>
    <td class="price">&yen;53,770</td>
    <td class="price">&yen;69,150</td>
    <td class="price">&yen;79,150</td>
    <td class="price">&yen;89,150</td>
    <td class="price">&yen;99,150</td>
    <td class="price">&yen;45,990</td>
  </tr>
  <tr>
    <td colspan="2" align="center" class="max"><span class="red bold">最大割引適用後金額</span></td>
    <td class="price max"><span class="red bold">&yen;45,370</span></td>
    <td class="price max"><span class="red bold">&yen;60,750</span></td>
    <td class="price max"><span class="red bold">&yen;70,750</span></td>
    <td class="price max"><span class="red bold">&yen;80,750</span></td>
    <td class="price max"><span class="red bold">&yen;90,750</span></td>
    <td class="price max"><span class="red bold">&yen;37,590</span></td>
</tr>
</table>
<div class="price_box">
<p>
  <b>※輸入車はお引き受けできません。</b><br />
※追加修理、部品交換等が必要な場合は、別途見積り・請求させていただきます。
<br />
※ダブルタイヤは＋5,250円?となります。
<br />
※改造車はお引き受けできない場合があります。
<br />
※車両によっては一部料金が異なる場合があります。
</p>
</div>

      </li>
    </ul>
    </article><!-- price -->
    <footer>
      <a id="gtmenu" onClick="return false;"><div id="ftr_menu">コンテンツメニューへ戻る</div></a>
    </footer>
  </section><!-- #idex_shaken -->
</section><!-- #idex_main -->
</body>
</html>