<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Reversi</title>
<link rel="stylesheet" href="/surv/public/stylesheets/sencha-touch.css" type="text/css">
<script type="text/javascript" src="/surv/public/javascripts/sencha-touch.js"></script>
<script type="text/javascript" src="/surv/public/javascripts/reversi.js"></script>
<style type="text/css">
    .startBtn1 {position: relative; top:50px; left:-65px;}
    .startBtn2 {position: relative; top:0px;  left:65px;}
    .startBtn3 {position: relative; top:15px;}
    #colorBtn1 {position: relative; top:55px;}
    #colorBtn2 {position: relative; top:65px;}
    #colorBtn3 {position: relative; top:75px;}
    #colorBtn4 {position: relative; top:85px;}
    #colorBtn5 {position: relative; top:95px;}
</style>
</head>
<body>
</body>
</html>