@main(title = "アンケート結果") {
<a name="top"></a>
    <div id="content">
        <h1>アンケート結果</h1>
        <div id="summary">
<a name="参加の感想">
          <div id="res"><h2>参加の感想</h2></div>
</a>
<style>
    .graph { 
        position: relative; /* IE is dumb */
        width: 200px; 
//        border: 1px solid #B1D632; 
        padding: 0px; 
    }
    .graph .bar { 
        display: block;
        position: relative;
        background: #B1D632; 
        text-align: center; 
        color: #333; 
        height: 2em; 
        line-height: 2em;
    }
    .graph .bar span { position: absolute; left: 1em; }
</style>
<div id="resg">
<table border="1" cellspacing="0"><tr><td>業務に活かせそう・役に立ちそう</td><td>
<div class="graph">
    <strong class="bar" style="width: 24%;">24%</strong>
</div>
</td></tr>
<tr><td>知見・視野が広がった、刺激になった</td><td>
<div class="graph">
    <strong class="bar" style="width: 80%;">80%</strong>
</div>
</td></tr>
<tr><td>どちらでもない</td><td>
<div class="graph">
    <strong class="bar" style="width: 40%;">40%</strong>
</div>
</td></tr>
<tr><td>欠席した</td><td>
<div class="graph">
    <strong class="bar" style="width: 8%;">8%</strong>
</div>
</td></tr>
</table>
</div>
<div id="gotop"><a href="#top">トップへ戻る</a></div>

<a name="ご意見・ご要望">
<div id="res"><h2>ご意見・ご要望</h2></div>
</a>
<table border="1" cellspacing="0">
<tr><td>コスト削減で品質が落ちることになっては意味がありません。</td></tr>
<tr><td>人材育成や意識改革を進める</td></tr>
<tr><td>冊子は文字が小さく、読みにくい。ホームページで見ることができるようにして欲しい。</td></tr>
<tr><td>普段の業務ではプレゼンを行う機会がないので、貴重な経験にもなるので、1回で終わらず継続して行うと良いと思う。</td></tr>
<tr><td>1人で何かを変えるのは難しいけど課全体や係全体で取り組むことが大切なのかなと感じました。</td></tr>
<tr><td>本日の発表は、基本的な事項への取組が多いように思いましたがもっと突っ込んだ内容についてグループにより発表することもいいかと思います。</td></tr>
<tr><td>改善をしようとする意欲、気づくことが大切であり、小さな積み上げが大きな成果を生む。お疲れ様でした、頑張りましょう。</td></tr>
<tr><td>内容は勿論ですが、発表者の発表者の滑舌や間の取り方など話すテクニックの重要性を再確認しました。</td></tr>
<tr><td>若い職員が意欲を持って取り組む姿勢が拝見できてよかったです。楽しみながら仕事に取り組むこと、大切ですね。</td></tr>
</table>

<div id="gotop"><a href="#top">トップへ戻る</a></div>

<a name="調査データの利用について">
<div id="res"><h2>調査データの利用について</h2></div>
</a>

<table border="0" cellspacing="0" cellpadding="5"><tr><td>
<table border="0" cellspacing="1" cellpadding="0">
<tr>
<td valign="bottom" align="center"><img src="public/images/bargraph_gt.gif" width="30" height="215"></td>
<td valign="bottom" align="center"><img src="public/images/bargraph_gt.gif" width="30" height="162"></td>
<td valign="bottom" align="center"><img src="public/images/bargraph_gt.gif" width="30" height="123"></td>
<td valign="bottom" align="center"><img src="public/images/bargraph_gt.gif" width="30" height="186"></td>
</tr><tr>
<td valign="top" align="center"><font size="2"><pre>ぜ
ひ
使
い
た
い</pre></font></td>
<td valign="top" align="center"><font size="2"><pre>参
考
デ
|
タ
は
み
た
い</pre></font></td>
<td valign="top" align="center"><font size="2"><pre>特
に
必
要
な
い</pre></font></td>
<td valign="top" align="center"><font size="2"><pre>そ
の
他</pre></font></td>
</tr>
</table>
</td><td valign="top">
<table border="1">
<tr><td>ぜひ使いたい（使用イメージがある）</td><td>31.3%</td></tr>
<tr><td>使用イメージはないが、参考までにデータはみたい</td><td>23.6%</td></tr>
<tr><td>今回のような調査データは特に必要ない</td><td>17.9%</td></tr>
<tr><td>その他</td><td>27.1%</td></tr>
</table>
</td></tr></table>
<div id="gotop"><a href="#top">トップへ戻る</a></div>
        </div>

        <div id="menu">
            <ul>
<li><a href="#参加の感想">参加の感想</a></li>
<li><a href="#ご意見・ご要望">ご意見・ご要望</a></li>
<li><a href="#調査データの利用について">調査データの利用について</a></li>
            </ul>
        </div>
        <div id="footer"></div>
    </div>
}
